<section>
    <p style="font-size: 28px;">
        Highlights
    </p>
    <ul>
        <li>AngularJS controllers are just JavaScript constructor functions that are used to hold scopes and to expose behaviors that views can use</li>
        <li>The controller defines the actual behavior of your app. It contains business logic for the view and connects the model to view with the help of <span style="background-color: #D7DDC6">$scope</span>.</li>
        <li>A controller is associated with a HTML element with the ng-controller directive.</li>
        <li>When a controller is created during runtime, the $injector will inject the $scope argument</li>
        <li>Controllers add properties and functions to the $scope, in this example, we have property displayDefaultContent and function toggleDefaultContent, and they can be accessed in the expressions assigned to <span style="background-color: #D7DDC6">ng-click</span> and <span style="background-color: #D7DDC6">ng-show</span>.</li>
        <li>ng-click and ng-show are built-in directives, which we will cover soon</li>
        <li>{{expressedContent}}</li>
    </ul>
    <p>
        <img src="imgs/scope1.jpg" alt="">
    </p>
</section>
