<section ng-show="displayDefaultContent">
    <p style="font-size: 28px;">
        Highlights
    </p>
    <ul>
        <li>Module is container of reusable components, it is defined by using angular.module()</li>
        <li>One html page can be assigned only one module, via ng-app directive on html tag</li>
        <li>app.js is the entry point of the js part of the application</li>
        <li>ng-include is used to load html fragements from external html file, it limits the file to be in the same domain</li>
        <li>Auto-bootstraping process
            <ol>
                <li>Angular initializes automatically upon DOMContentLoaded event or when the angular.js script is downloaded to the browser and the document.readyState is set to complete.</li>
                <li>AngularJS looks for the ng-app directive</li>
                <li>After finding the ng-app directive
                    <ol>
                        <li>Load the module associated with the directive.</li>
                        <li>Create the application injector.</li>
                        <li>Compile the DOM starting from the ng-app root element.</li>
                    </ol>
                </li>
            </ol>
        </li>
    </ul>
    <p>
        <img src="imgs/angularjs-auto-bootstrap-process.png" alt="">
    </p>
</section>
